body{
	text-align:center;
	font-family: Florence, cursive;
}

ul{
	display:block;
}

.controls{
	float:right;
}

#stats p{
	color:red;
}

h3,p {
      background: #a8ff78; 
      background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  
      background: linear-gradient(to left, #78ffd6, #a8ff78); 
}

